<a href="https://colab.research.google.com/github/cleitonmoya/MAE001_Trabalho2/blob/main/Trabalho2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Importação da séries financeiras:

In [ ]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

diretorio_base = 'https://raw.githubusercontent.com/cleitonmoya/MAE001_Trabalho2/main/series/'
series = ['ibov', 'bbdc4', 'itub4', 'csna3', 'b3sa3', 'ggbr4', 'petr4', 'mglu3', 'abev3', 'wege3', 'vivt4']

url = diretorio_base + 'ibov'.upper() + '.csv'

# Cria primeiro um dataframe somente com o ibov
df = pd.read_csv(url, decimal=',', sep=';', index_col=0, dayfirst=True, parse_dates=True, usecols=['Data', 'Fechamento'], header=0)
df.columns=['ibov']

# carrega as demais séries para o dataframe
for _,ativo in enumerate(series):
  url = diretorio_base + ativo.upper() + '.csv'
  df[ativo] = pd.read_csv(url, decimal=',', sep=';', index_col=0, dayfirst=True, parse_dates=True, usecols=['Data','Fechamento'])

# Ordena o datafram por data crescente (a fim de permitir correta localização)
df.sort_index(inplace=True)

Visualizando o início do dataframe:

In [59]:
df = df.loc['2019-09-01':'2020-01-31']
df.head()

                 ibov  bbdc4  itub4  csna3  ...  mglu3  abev3  wege3  vivt4
Data                                        ...
2019-09-02  100625.74  28.06  32.27  14.04  ...   9.12  17.98  22.56  50.98
2019-09-03   99680.83  27.60  31.65  13.63  ...   8.94  18.12  21.98  50.73
2019-09-04  101200.89  27.94  31.87  13.81  ...   9.27  18.39  22.41  51.61
2019-09-05  102243.00  28.59  32.78  13.94  ...   9.14  18.28  22.56  52.21
2019-09-06  102935.43  29.79  33.88  13.76  ...   8.97  18.31  22.62  51.28

[5 rows x 11 columns]

Final do dataframe:

In [60]:
df.tail()

                 ibov  bbdc4  itub4  csna3  ...  mglu3  abev3  wege3  vivt4
Data                                        ...
2020-01-27  114481.84  30.22  32.35  13.73  ...  13.43  18.55  40.68  57.50
2020-01-28  116478.98  30.26  32.34  13.63  ...  14.23  18.80  41.71  58.03
2020-01-29  115384.84  29.83  31.84  13.35  ...  14.31  18.30  42.09  57.65
2020-01-30  115528.04  30.13  32.30  13.40  ...  14.11  18.34  40.68  56.96
2020-01-31  113760.57  29.62  31.70  12.89  ...  13.93  17.85  39.13  56.50

[5 rows x 11 columns]

# Questão 2 - Gráfico de Dispersão